
/* Main cards animation ------- */
.circle_card_main_page {
    width: 250px;
    height: 250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    cursor: pointer;
  }
  
  .circle_card_main_page:hover {
    transform: scale(1.25);
    padding: unset;
  }

  .circle_card_main_page:hover svg {
    display: none;
  }
  
  .circle_card_main_page:hover p {
    display: inline;
    color: white;
  }
  
  .circle_card_main_page:hover h2 {
    color: white;
  }
  


  /* loading screen ---------------------- */
  .loading-overlay {
    position: relative;
  }
  
  .loading-overlay::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 9999; /* Ensure it's above other content */
    transition: opacity 0.3s ease; /* Apply fade effect */
  }
  
  .toast {
    z-index: 10000; /* Ensure toasts appear above the overlay */
  }
  

  @media only screen and (max-width:600px) {
    
    .circle_card_main_page{
      width:45vw;
      height: 45vw;
      gap: 5px;
    }

    .circle_card_main_page:hover {
      transform: scale(1.2);

    }

  } 